.finance-section {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('/images/traveltrailer.png');
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 2rem;
}

.finance-content h1 {
    font-size: 3rem;
}

.finance-content p {
    font-size: 1.25rem;
}
.finance-content a {
    text-decoration: none;
    color: #d71a20;
}
.finance-content a:hover {
    text-decoration: underline;
    color: #a10303;
}
.finance-form {
  max-width: 600px;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.finance-form-section {
  background-color: #f9f9f9;
  padding: 4rem 2rem;
}


.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

input,
select,
textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  font-family: inherit
}

.apply-button {
  padding: 0.75rem 1.5rem;
  background-color: #c00404;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #a10303;
}
